  .main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbdeff;
    background-image: url("/square-versatiles.svg");
  }

  .card {
    margin: 20px 20px;
    height: 75%;
    width: 50%;
    padding-bottom: 150px;
  }

  .group-buttons button {
    margin: 10px 10px;
  }

  @media (max-width: 600px) {
    .card {
      width: 80%;
    }
  }
