<div class="main">

  <mat-card class="card">
    <div class="content">
      <div>
      </div>
      <div style="padding: 25px; text-align: center;">
        <img src="ball.svg" alt="Minha Figura">
        <h3>{{userName}}</h3>
      </div>

      <div style="padding: 25px 25px;">

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Conta</mat-panel-title>
              <mat-panel-description>Sobre a conta</mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title>Meu anúncio</mat-panel-title>
              <mat-panel-description>
                Sobre minha vianda
              </mat-panel-description>
            </mat-expansion-panel-header>
            @if (viandaAvailable) {
            <div name="info-vianda">
              <div>
                <p>Nome da vianda: </p>
                <p>Endereço: </p>
                <p>Cep: </p>
                <p>Cidade: </p>
                <p>Descrição:</p>
                <p>Whatsapp: </p>
                <p>Instagram: </p>
                <p>Facebook: </p>
              </div>
              <div>
                <div class="group-buttons" style="text-align: center; padding: 10px 10px;">
                  <button mat-stroked-button>
                    Remover
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <button mat-stroked-button>
                    Editar
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            } @else {
            <div>
              <app-vianda-crud (save)="handleSave($event)"></app-vianda-crud>
            </div>
            }
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title>Configuração</mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
  </mat-card>

</div>

<style>
  .main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbdeff;
    background-image: url('square-versatiles.svg');
  }

  .card {
    margin: 20px 20px;
    height: 75%;
    width: 50%;
  }

  .group-buttons button {
    margin: 10px 10px;
  }

  @media (max-width: 600px) {
    .card {
      width: 80%;
    }
  }
</style>
