<mat-form-field appearance="outline">
  <mat-label>{{ label }}:</mat-label>
  <input matInput [type]="type" [placeholder]="placeholder" [formControl]="$any(control)" />
  @if ( control.errors?.['required'] ) {
  <mat-error><strong> {{ erros.get("required") }} </strong></mat-error>
  } @if ( control.errors?.['email'] ) {
  <mat-error><strong>{{ erros.get("email") }}</strong></mat-error>
  } @if ( control.errors?.['minlength'] ) {
  <mat-error><strong>{{ erros.get("minlength") }}</strong></mat-error>
  }
</mat-form-field>
