<div class="main">
  <mat-card class="card">

    <div id="logim" class="content-login" *ngIf="isLogin">
      <div>
        <img style="width: 250px;" mat-card-image src="logo.svg" alt="Photo of a Shiba Inu"><br>
      </div>
      <div style="display: flex; flex-direction: column;">
        <h1>Sign In 😄</h1>
        <form style="display: flex; flex-direction: column;" [formGroup]="login" (ngSubmit)="userLogin()">
          <mat-form-field class="login-field" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="login-field" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button type="submit" mat-stroked-button>Log-in</button><br>
        </form>
      </div>
    </div>


    <div id="registration" class="content-login" *ngIf="!isLogin">
      <div>
        <img style="width: 250px;" mat-card-image src="logo.svg" alt="Logo">
      </div>
      <div style="display: flex; flex-direction: column;">
        <h1 style="text-align: center;">Cadastro</h1>
        <form style="display: flex; flex-direction: column;" [formGroup]="registration" (ngSubmit)="registerNewUser()">
          <mat-form-field class="login-field" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="login-field" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button type="submit" mat-stroked-button>Registrar</button><br>
        </form>
        <div style="align-self: flex-end;">
          <button (click)="changeStateLogin()" mat-button>Voltar</button><br>
        </div>
      </div>
    </div>

  </mat-card>
</div>
