<div class="main">
  <mat-card class="card">


    <div class="content">

      <div>
      <img style="max-width: 300px;" mat-card-image src="logo.svg" alt="Photo of a Shiba Inu">
      </div>
      <div>
        <mat-form-field class="login-field" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="login-field" appearance="outline">
          <mat-label>Insira a senha</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-stroked-button>Entrar</button>
      </div>
    </div>

  </mat-card>
</div>


<style>
  .main {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #fbdeff;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .login-field {
    width: 250px;
  }

  .card {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
  }
</style>
