<main>
  <div class="content">
    <mat-card class="card">
      <mat-card-content>
        <div style="display: flex; justify-content: space-between;">
          <div>
            <span>Inicio / </span><span style="font-weight:500;">Pesquisa</span>
          </div>
          <div>
            <p style="font-weight: 500;">Viandas em:</p>
            <p>{{cityName}}</p>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        <p style="font-weight: 500;">Viandas em {{cityName}}</p>
        <div class="vianda-cards" style="margin-top: 50px;">
          <mat-card *ngFor="let item of dataVianda" appearance="outlined" class="viandas">
            <mat-card-content>
              <p>{{item.data.nomevianda}}</p>
              <p>Cardápio: {{item.data.cardapio}}</p>
              <p>Contato: {{item.data.whatsapp}}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="dataVianda == null">
          <p>Não há registros</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>

