<main>
  <header>
    <div style="margin-right: 40px;">
      <img id="logo" src="logo.svg" alt="Minha Figura">
    </div>
    <div class="vianda-header">
      <span style="color: rgb(255, 255, 255);">E</span><span style="color: rgb(99, 7, 53);">-vianda</span>
      <br>
      <div class="search-bar" style="margin-top: 20px; display: flex; justify-content: center;">
          <mat-form-field appearance="outline" class="example-full-width">
            <input  [formControl]="search"   matInput placeholder="Ex. Porto Alegre, RS">
          </mat-form-field>
          <button (click)="searchTheCity()" style="margin: 0 10px; height: 55px;" mat-flat-button>Buscar<mat-icon>search</mat-icon></button>
      </div>
    </div>
  </header>
</main>

