<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step>
    <form [formGroup]="form">
      <ng-template matStepLabel>Sobre a vianda</ng-template>
      <br>
      <app-input-error label="Nome da vianda" [control]="form.controls['nomevianda']" placeholder="Digite um nome..." ></app-input-error>
      <br>
      <mat-form-field>
        <mat-label>Cardápio</mat-label>
        <textarea matInput formControlName="cardapio" placeholder="Ex. Feijão, carne assada, carreteiro..."></textarea>
      </mat-form-field>
      <br>
      <app-input-error label="Whatsapp" [control]="form.controls['whatsapp']" placeholder="Que amor" ></app-input-error>
      <input type="hidden" formControlName="id"/>
      <div>
        <button mat-button matStepperNext>Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="form">
      <ng-template matStepLabel>Endereço da vianda</ng-template>
      <br>
      <app-input-error label="Cep" [control]="form.controls['cep']" placeholder="Digite um cep válido"  ></app-input-error>
      <br>
      <app-input-error label="Cidade" [control]="form.controls['cidade']" placeholder="Cidade da vianda..." ></app-input-error>
      <br>
      <app-input-error label="Bairro" [control]="form.controls['bairro']" placeholder="Digite o bairro..." ></app-input-error>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <p>Confirmar?</p>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button [disabled]="form.invalid" (click)="onSave()">Salvar</button>
      <button mat-button (click)="stepper.reset()">Resetar</button>
    </div>
  </mat-step>
</mat-stepper>
